{
    "env": {
        "browser": true,
        "es2021": true
    },
    "ignorePatterns": ["*.test.js", "*.config.js"],
    "extends": ["eslint:recommended", "airbnb-base"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "import/no-unresolved": "off",
        "no-new":"off",
        "arrow-parens":"off",
        "no-unused-vars":"off",
        "consistent-return":"off",
        "no-param-reassign":"off",
        "no-unused-expressions":"off",
        "implicit-arrow-linebreak":"off",
        "function-paren-newline":"off",
        "no-return-assign":"off",
        "object-curly-newline":"off",
        "operator-linebreak":"off",
        "no-shadow":"off",
        "no-restricted-globals":"off",
        "indent":"off"
    }
}
