.checkbox {
  height: 18px;
  min-width: 32px;
  padding: 0 16px;
  border-radius: 4px;
  outline: 0;
  border-style: none;
  cursor: pointer;
}

.checkbox:hover {
  transition: all 0.5s;
  opacity: 0.5;
}
