@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-in-and-out {
  animation: fade-in 1s forwards, fade-out 1s 2s forwards;
}

@keyframes zoom-in {
  0% {
    font-size: 30px;
  }

  100% {
    font-size: 50px;
  }
}
