@import './utils/Variables.scss';
@import './utils/Responsive.scss';
@import './utils/Animation.scss';

h1.classroom-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 4.25rem;
}

.classroom-container {
  padding: 2rem 0;
}

.navigation {
  display: grid;

  > #search-modal-button {
    grid-column: 20 / 1 span;
  }

  > #classroom-watched-filter-button {
    grid-column: 1 / 5;

    .button {
      &[data-filter]::before {
        font-size: 0.7rem;
        margin-right: 0.3rem;
        vertical-align: middle;
      }

      &[data-filter='unwatched']::before {
        content: '👁️';
      }

      &[data-filter='watched']::before {
        content: '✅';
      }
    }

    &[data-focus='unwatched'] {
      .button[data-filter='unwatched'] {
        background-color: $color-robins-egg-blue-12;
      }
    }

    &[data-focus='watched'] {
      .button[data-filter='watched'] {
        background-color: $color-robins-egg-blue-12;
      }
    }
  }
}

.video-result {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;
  gap: 1rem;

  @include notebook {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  .empty-content {
    padding: 5rem 0;
    grid-column: 4 span;
    font-weight: bold;
    text-align: center;

    @include mobile {
      padding: 2rem 1rem;
    }

    > i {
      font-size: 10rem;
      margin-bottom: 3rem;
      color: $color-gray;
      opacity: 0.2;
    }

    .title {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
      color: $color-mine-shaft;
    }

    .description {
      font-size: 0.9rem;
      color: $color-black-30;
    }
  }

  > .item {
    overflow: hidden;
    grid-column: 1 span;
    font-size: 1.1rem;
    margin-bottom: 1rem;

    > .thumbnail {
      width: 100%;
      border-radius: $border-radius;
    }

    > .title {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0.2rem;
    }

    .channel-name {
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0.5rem;
    }

    > .published-date {
      font-size: 0.8rem;
      color: $color-black-50;
      margin-bottom: 0.4rem;
    }

    > .save-button {
      font-size: 0.9rem;
      font-weight: normal;
      padding: 0.25rem 0.5rem;
      color: $color-mine-shaft;
      float: right;
    }

    > .button-group {
      width: 52%;
      float: right;

      > .button {
        font-size: 0.8rem;
        font-weight: normal;
        padding: 0.25rem;
        color: $color-mine-shaft;

        &.save-item-watched-button.unwatched::before {
          content: '✅';
        }

        &.save-item-watched-button.watched::before {
          content: '👁️';
        }

        &.save-item-remove-button::before {
          content: '🗑️';
        }

        &::before {
          font-size: 0.6rem;
          margin-right: 0.3rem;
          vertical-align: middle;
        }
      }
    }
  }
}

.modal-video-search {
  .search-input-form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3.5rem;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    > .search-input-keyword {
      width: 50%;

      @include mobile {
        width: 100%;
        grid-column: 4 span;
      }
    }

    > .search-button {
      width: 10%;
      border: none;
      background-color: $brand-accent-color;
      color: $brand-accent-color-font;

      @include mobile {
        width: 100%;
        grid-column: 2 span;
      }
    }
  }

  .search-result {
    width: 100%;

    @include mobile {
      position: absolute;
      width: unset;
      top: 11rem;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 1rem;
    }

    .video-list {
      overflow-y: scroll;
      height: 30rem;
      padding: 0 0.5rem;

      @include mobile {
        height: 100%;
        padding: 0;
      }
    }

    #skeleton-list {
      display: none;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: max-content;
      gap: 1rem;
      width: 100%;

      @include notebook {
        grid-template-columns: repeat(3, 1fr);
      }

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }

      .skeleton {
        overflow: hidden;
        grid-column: 1 span;
        font-size: 1.1rem;
        margin-bottom: 1rem;

        > .image,
        .line {
          background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
          margin-bottom: 0.8rem;

          @include animate(2s infinite ease-out) {
            0% {
              background-position: calc(-100px);
            }

            40%,
            100% {
              background-position: 320px;
            }
          }
        }

        > .image {
          height: 10rem;
        }

        > .line {
          height: 1rem;

          &:last-child {
            width: 80%;
          }
        }
      }
    }

    #search-result-scroll-observer {
      display: none;
      position: relative;
      grid-column: 4 span;
      height: 50px;

      &.enable {
        display: block;
      }
    }

    &.loading {
      #skeleton-list {
        display: grid;
      }

      #search-result-scroll-observer {
        display: none;
      }
    }
  }
}
