@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

#search-result {
  height: 300px;
  overflow-y: scroll;
}

#search-result__intersector {
  height: 30px;
}

.btn.clicked {
  background-color: rgb(179, 234, 242);
}
