@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 0.8;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 0.8;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 0.8;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
    opacity: 0.8;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
