.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
  z-index: 2;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal__input {
  background-color: var(--color-modal-search-input-background);
  border: 1px solid var(--color-modal-search-input-border);
  color: var(--color-modal-search-input);
  outline: none;
}

.modal__input:focus {
  border: 1px solid var(--color-modal-search-input-border-focus);
  outline: none;
}

.modal-inner {
  width: 66%;
  height: 90%;
  margin: auto;
  overflow: auto;
  background: var(--color-modal-inner);
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  border-radius: 5px;
  position: relative;
  transition: top 0.25s ease;
  color: var(--color-modal-inner-text);
  transition: color 1s cubic-bezier(0.89, 0.14, 0.64, 0.8);
}

.modal-inner:hover {
  color: var(--color-modal-inner-hover-text);
}

.modal-inner::-webkit-scrollbar {
  width: 15px;
}

.modal-inner::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 10px;
}

.modal-inner::-webkit-scrollbar-thumb:hover {
  color: var(--color-scrollbar-thumb-hover);
}

.modal-inner::-webkit-scrollbar-track {
  width: 20px;
  border: 1px solid var(--color-scale-gray-4);
  background-color: var(--color-scrollbar-background);
}

.modal-close {
  margin: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: no-repeat;
  border: none;
  padding: 0;
}

.modal__search-button {
  background-color: var(--color-modal-search-button-background);
  color: var(--color-modal-search-button);
}

.modal__keyword {
  color: var(--color-modal-search-keyword);
}

.modal__save-count {
  color: var(--color-modal-save-count);
}

svg {
  display: block;
}

.close-x {
  stroke: gray;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

@media screen and (max-width: 768px) {
  .modal-inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
