.navigator__button {
  background-color: var(--color-nav-button-background);
  color: var(--color-nav-button-text);
}

.navigator > .active {
  background-color: var(--color-nav-button-active-background);
}
