.watched-section > .unwatched-clip {
  display: none;
}

.unwatched-section > .watched-clip {
  display: none;
}

.liked-section > .unliked-clip {
  display: none;
}

.deleted-clip {
  display: none;
}
