#saved-not-found {
  display: none;
}

#saved-not-found.show {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav button:hover {
  background-color: rgba(179, 234, 242);
}