.watched-section > .unwatched-clip {
  display: none;
}

.unwatched-section > .watched-clip {
  display: none;
}

.like-section > .watched-clip,
.like-section > .unwatched-clip {
  display: none;
}

.like-section > .like-clip {
  display: block;
}

.deleted-clip {
  display: none;
}
