#search-video-wrapper {
  height: 500px;
  overflow-y: auto;
}

#search-not-found.show {
  display: block;
  width: 30%;
  min-width: 200px;
  margin: 10px auto;
}

#search-not-found {
  display: none;
}

#recent-keywords {
  min-height: 32px;
  display: flex;
  align-items: center;
}
