#search-video-wrapper {
  height: 500px;
  overflow-y: auto;
}

#search-video-wrapper #search-not-found {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
}

#recent-keywords {
  min-height: 32px;
  display: flex;
  align-items: center;
}
