.skeleton .image,
.skeleton .line::after {
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
  );
  animation: refresh 2s infinite ease-out;
}

.skeleton .line {
  visibility: hidden;
  position: relative;
}

.skeleton .line::after {
  width: 100%;
  height: 100%;
  visibility: visible;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.skeleton .content-container {
  padding: 0.25rem 0;
}
@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}
