.snackbar {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 0;
}

.snackbar-shape {
  min-width: 250px;
  margin-left: -125px;
  padding: 16px;
  border-radius: 2px;
}

.show {
  visibility: visible !important; /* Show the snackbar */
  -webkit-animation: fade-in 0.5s, fade-out 0.5s 2.7s;
  animation: fade-in 0.5s, fade-out 0.5s 2.7s;
}

@-webkit-keyframes fade-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
