nav {
  position: relative;
}

nav .align-left {
  position: relative;
  left: 0;
}

nav .align-right {
  position: absolute;
  right: 0;
}

/* [보고있는 영상] 메뉴 */
.watching-section .watching {
  display: block;
}

.watching-section .watched {
  display: none;
}

/* [다 본 영상] 메뉴 */
.watched-section .watched {
  display: block;
}

.watched-section .watching {
  display: none;
}

/* [좋아요한 영상] 메뉴 */
.liked-section .liked {
  display: block;
}

.liked-section .not-liked {
  display: none;
}

/* 결과없음 이미지 */
.no-video-found {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-image: url('../../../images/status/image_sprite.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 67vh;
  height: 70vh;
}

.no-video-found.no-watching {
  display: inline-block;
}

.no-video-found.no-watched {
  display: inline-block;
  background-position-x: -67.5vh;
}

.no-video-found.no-liked {
  display: inline-block;
  background-position-x: -135vh;
}

@media screen and (max-width: 576px) {
  .menu-title {
    display: none;
  }

  .no-video-found {
    width: 50vh;
    height: 52vh;
  }

  .no-video-found.no-watched {
    background-position-x: -50vh;
  }

  .no-video-found.no-liked {
    background-position-x: -100vh;
  }
}
