:root {
  --clip-width: 230px;
}

.video-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--clip-width));
  grid-row-gap: 10px;
  grid-column-gap: 4px;
  justify-content: center;
}

.modal-inner .video-wrapper {
  overflow-y: auto;
  height: 65vh;
}

.clip {
  height: 250px;
  cursor: pointer;
  text-decoration: none;
}

.clip .preview-container {
  width: 100%;
  height: 120px;
  position: relative;
}

.clip .preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clip .overlay-preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.clip .content-container {
  position: relative;
}

.clip .content-container h3 {
  display: -webkit-box;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #0a0a0a;
}

.clip .content-container .channel-name {
  font-size: 12px;
  color: #606060;
  display: block;
  width: 100%;
}

.clip .content-container .meta p {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  color: #606060;
}

.skeleton {
  width: 230px;
}

.skeleton .image,
.skeleton .line {
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
  );
  animation: skeleton-refresh 2s infinite ease-out;
}

.skeleton .image {
  height: 118px;
}

.skeleton .line {
  height: 16px;
}

.skeleton .line.js-video-title{
  width: 100%;
}

.skeleton .line.channel-name {
  width: 50%;
}

.skeleton .line {
  width: 50%;
}

.skeleton .line {
  margin: 3px 0;
}

@keyframes skeleton-refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}
