.videos-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-row-gap: 3rem;
  grid-column-gap: 0.75rem;
  justify-content: space-around;
  /* justify-content: center; */
}

.modal .videos-wrapper {
  overflow-y: auto;
  height: 70vh;
}

.modal .search-result-group {
  margin: 0 0.375rem;
  display: contents;
}

.clip {
  height: 13.7rem;
  cursor: pointer;
  text-decoration: none;
}

.clip .preview-container {
  width: 100%;
  height: 7.5rem;
  position: relative;
}

.clip .preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clip .overlay-preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.clip .content-container {
  position: relative;
}

.clip .content-container h3 {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #0a0a0a;
  white-space: nowrap;
  cursor: text;
}

.clip .channel-link {
  font-size: 0.75rem;
  color: #105f6a;
  font-weight: 800;
  display: block;
  width: 100%;
}

.clip .channel-link:hover {
  color: #3b9fac;
}

.clip .published-at {
  font-size: 0.75rem;
  display: inline-block;
  color: #606060;
  cursor: text;
}

.clip .save-button.saved,
.clip .save-button.saved:hover {
  background-color: #efefef;
  opacity: 0.3;
  cursor: not-allowed;
}

@media screen and (max-width: 1280px) {
  .video-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .video-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .video-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .video-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
