.video-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-row-gap: 50px;
  grid-column-gap: 12px;
  justify-content: center;
}

.search-result-group {
  display: contents;
}

.clip {
  height: 219px;
  cursor: pointer;
  text-decoration: none;
}

.clip .preview-container {
  width: 100%;
  height: 120px;
  position: relative;
}

.clip .preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clip .overlay-preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.clip .content-container {
  position: relative;
}

.clip .content-container h3 {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #0a0a0a;
  white-space: nowrap;
}

.clip .content-container .channel-link {
  font-size: 12px;
  color: #606060;
  display: block;
  width: 100%;
}

.clip .published-at {
  font-size: 12px;
  display: inline-block;
  color: #606060;
}
