:root {
  --nav-button-background-color: #F5F5F5;
  --nav-button-hover-color: #ebebeb;
  --border-color: rgba(0, 0, 0, 0.12);
  --selected-background-color: rgba(0, 188, 212, 0.12);
  --modal-dimmer-color: rgba(0, 0, 0, 0.5);
  --modal-background-color: #ffffff;
  --search-input-border-color: #B4B4B4;
  --search-input-text-color: #8B8B8B;
  --search-button-background-color: #00BCD4;
  --search-button-text-color: #ffffff;
  --video-save-button-background-color: #F9F9F9; 
  --video-save-button-hover-color: #efefef;
  --skeleton-ui-dark-color: #e0e0e0;
  --skeleton-ui-light-color: #ededed;
}