body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  #app {
    max-width: 1020px;
  }

  .nav {
    max-width: 1020px;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  #app {
    max-width: 760px;
  }

  .nav {
    max-width: 760px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  #app {
    max-width: 520px;
  }

  .nav {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  #app {
    max-width: 368px;
  }

  .nav {
    max-width: 368px;
  }

  #app ul {
    justify-content: center;
  }
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: #f5f5f5;
}

.nav__button:hover {
  background: #ebebeb;
}
