:root {
  --nav__button-background-color: #f5f5f5;
  --nav__button-hover-background-color: #ebebeb;
}

body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: var(--nav__button-background-color);
}

.nav__button:hover {
  background: var(--nav__button-hover-background-color);
}

.nav__tab .nav__button {
  width: 100px;
}

@media (max-width: 599px) {
  .video-list,
  .classroom-video__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-input__keyword {
    max-width: 300px;
  }

  .nav {
    justify-content: space-around;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .video-list,
  .classroom-video__list {
    grid-template-columns: repeat(2, 1fr);
  }

  #app {
    width: 550px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .video-list,
  .classroom-video__list {
    grid-template-columns: repeat(3, 1fr);
  }

  #app {
    width: 800px;
  }
}

@media (min-width: 1280px) {
  .video-list,
  .classroom-video__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
