body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  line-height: 36px;
  font-size: 24px;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.border-radius-left {
  border-radius: 4px 0 0 4px;
}

.border-radius-right {
  border-radius: 0 4px 4px 0;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: #f5f5f5;
}

.nav__button:hover {
  background: #ebebeb;
}

.nav__button.selected {
  background: rgba(0, 188, 212, 0.12);
}

.nav__button.selected:hover {
  background: rgba(0, 188, 212, 0.2);
}

.video-list-button {
  width: 117px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.search-button {
  margin-left: auto;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.classroom-container {
  width: 90vw;
  height: 36px;
}

.video-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px 20px;
}

.video-list.search {
  height: 493px;
  overflow-y: scroll;
}

.video-item {
  position: relative;
  width: 240px;
  height: 255px;
  align-self: center;
  justify-self: center;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background: #f9f9f9;
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: #efefef;
}

.icon-button {
  width: 36px;
  height: 36px;
  background: #f5f5f5;
}

.icon-button:hover {
  background: #ebebeb;
}

.icon-button.selected {
  background: rgba(0, 188, 212, 0.12);
}

.icon-button.selected:hover {
  background: rgba(0, 188, 212, 0.2);
}

.check-watched-button {
  margin-left: 160px;
}

@media only screen and (min-width: 400px) {
  .classroom-container {
    width: 368px;
  }
}

@media only screen and (min-width: 600px) {
  .classroom-container {
    width: 500px;
  }
  .classroom-container__title {
    font-size: 34px;
    margin-bottom: 56px;
  }
  .video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 960px) {
  .classroom-container {
    width: 760px;
  }
  .video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1280px) {
  .classroom-container {
    width: 1020px;
  }
  .video-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
