body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content:space-between;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: var(--nav-btn-color);
}

.nav__button:hover {
  background: var(--nav-btn--hover-color);
}

.nav-tab__button{
  cursor: pointer;
  width:118px;
  height: 36px;
  border:1px solid rgba(0,0,0,0.12);
}

.nav-tab{
  display: flex;
  gap:0;
}

.nav-tab__button.choosed{
  background-color:var(--nav-btn--choosed-color);
}

#store-video-list{
  width:100%;
}
.video-list-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap:10px;
}

.video-list-grid-item{
  width: 100%;
  display: block;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-list-grid-item-btn--contianer{
  width:100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.video-list-grid-item-btn--contianer > button{
  width: 36px;
  height:36px;
  text-align: center;
}

@media screen and (max-width:1280px) {
  .video-list-grid{
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width:960px) {
  .video-list-grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:600px) {
  .video-list-grid{display: flex;
    flex-direction: column;
    align-items: center;
  }
}

