:root {
  --nav__button-background-color: #f5f5f5;
  --nav__button-hover-background-color: #ebebeb;
}

body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: var(--nav__button-background-color);
}

.nav__button:hover {
  background: var(--nav__button-hover-background-color);
}

.nav__tab .nav__button {
  width: 100px;
}

.highlight {
  background: rgba(0, 188, 212, 0.12);
}
