body {
    padding: 64px 50px;
    font-size: 16px;
}

#app {
    max-width: 1020px;
    margin: 0 auto;
}

.classroom-container__title {
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 64px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.25px;
}

.nav__button {
    width: 80px;
    height: 36px;
    background-color: var(--nav);
}

.nav__button:hover {
    background-color: var(--nav-hover);
}

.empty-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

h2  {
    text-align: center;
    margin-top: 20px;
}

#will-see-button {
    width: 118px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px 0px 0px 4px;
}

#saw-button {
    width: 118px;
    margin-left: -5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px 4px 4px 0px;
    border-collapse: collapse;
}

.clicked {
    background-color: rgba(0, 188, 212, 0.12);
}

.clicked:hover {
    background-color: rgba(0, 188, 212, 0.15);
}

.bottom-target {
    /* visibility: hidden; */
    margin-top: 100px;
    height: 100px;       
}

.user-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.user-saw-button, 
.user-delete-button {
    width: 36px;
    height: 36px;
    padding: 6px 2px;
    background: #F9F9F9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.user-saw-button:hover, 
.user-delete-button:hover {
    background: #F0F0F0;
    animation: shake 0.6s infinite;
}

#will-see-list, 
#saw-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: 255px;
    gap: 1em;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px, -1px) rotate(2deg);
    }
    100% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    #will-see-list, 
    #saw-list {
        grid-template-columns: repeat(3, 240px);

    }
}
@media (min-width: 600px) and (max-width: 959px) {
    #will-see-list, 
    #saw-list {
        grid-template-columns: repeat(2, 240px);
    }
}
@media screen and (max-width: 599px) {
    #will-see-list, 
    #saw-list {
        grid-template-columns: 240px;
    }
}