body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  display: absolute;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 680px;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
  width: 100%;
  white-space: nowrap;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

#stored-video-filter-button {
  border: 1px solid var(--nav-filter-button-border-color);
  width: 120px;
}

#watched-video-filter-button {
  border: 1px solid var(--nav-filter-button-border-color);
  width: 120px;
}

#search-modal-button {
  margin-left: auto;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: var(--nav-button-bg-color);
}

.nav__button:hover {
  background: var(--nav-button-hover-bg-color);
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dimmer-bg-color);
  top: 0;
  left: 0;
  z-index: 98;
}

.hide {
  display: none;
}
