body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.video-button-container {
  display: flex;
  margin-bottom: 39px;
}

.nav__save-video-button,
.nav__watched-video-button {
  /* display: block; */
  width: 117px;
  height: 36px;
  background-color: var(--default-button-background-color);
}

.nav__save-video-button--focused,
.nav__watched-video-button--focused {
  background-color: var(--fouces-button-background-color);
}

.nav__save-video-button {
  border-radius: 4px 0 0 4px;
}

.nav__watched-video-button {
  border-radius: 0 4px 4px 0;
}

.nav__button--search {
  width: 80px;
  height: 36px;
  background: var(--default-button-background-color);
}

.nav__button--search:hover {
  background: var(--hover-button-background-color);
}

.nav__watched-video-button:hover,
.nav__save-video-button--focused:hover,
.nav__watched-video-button--focused:hover {
  background-color: var(--checkbox-hover-background-color);
}

/* ******************** */
/* save-video-container */
/* ******************** */
.save-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-video-container__no-video-list.hide,
.save-video-container__video-list.hide {
  display: none;
}

.save-video-container__video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.video-list__video-item {
  width: 240px;
  height: 255px;
}

.save-video-container__video-list .video-item__thumbnail {
  width: 240px;
  height: 135px;
}

.video-item-button-container {
  display: flex;
  justify-content: flex-end;
}

.video-item__watched-video-button {
  margin-right: 8px;
}

.video-item__watched-video-button,
.video-item__delete-video-button {
  text-align: center;
  width: 36px;
  height: 36px;
  padding: 6px 2px;
  background-color: var(--default-button-background-color);
}

.video-item__watched-video-button:hover,
.video-item__delete-video-button:hover {
  background-color: var(--checkbox-hover-background-color);
}

.video-item__watched-video-button--focused,
.video-item__delete-video-button--focused {
  background-color: var(--fouces-button-background-color);
}

.save-video-item {
  position: relative;
  width: 240px;
  height: 255px;
  margin: 0;
  padding: 0;
}

/* ******** */
/* skeleton */
/* ******** */
.skeleton {
  width: 240px;
}

.skeleton .button,
.skeleton .button:hover,
.skeleton .image,
.skeleton .line {
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
  );
  animation: refresh 2s infinite ease-out;
}

.skeleton .image {
  border-style: hidden;
  border: 0;
  border-width: 0;

  height: 150px;
}

.skeleton .line {
  height: 16px;
  margin-bottom: 0.25rem;
}

.skeleton .line:first-child {
  width: 50%;
}

.skeleton .line:last-child {
  width: 80%;
}

.skeleton .button {
  cursor: default;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  #app {
    max-width: 760px;
  }
  .save-video-container__video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  #app {
    max-width: 500px;
  }
  .save-video-container__video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  #app {
    max-width: 400px;
  }
  .save-video-container__video-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
