body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  min-width: 390px;
  margin: 0 auto;
  padding: 0 10px;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  width: 80px;
  height: 36px;
  background: #f5f5f5;
}

.nav__button:hover {
  background: #ebebeb;
}

.button.checked {
  background-color: rgba(0, 188, 212, 0.12);
}

.saved-video-section.hide {
  display: none;
}
