body {
  padding: 4em 0;
  font-size: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0 1rem;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin-bottom: 4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border-radius: 0.25rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  border: none;
}

.nav__button {
  width: 5em;
  height: 2.25em;

  background: #f5f5f5;
}

.nav__button:hover {
  background: #ebebeb;
}

.tab__button {
  width: 8.6em;
  margin: 0;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  border-radius: 4px 0 0 4px;
}

.tab__button.selected {
  background-color: #00bcd41f;
  border: 1px solid #00c8e25e;
  border-bottom: none;
}

.filter-video-section {
  font-size: 0;
}

.saved-result-section {
  display: flex;
  justify-content: center;
  margin: 0 0 2.5em;
  padding: 1em 0;
  box-shadow: 0 1em 1em -1em #00c8e246 inset;
}
