@import "./grid.css";
@import "./button.css";

body {
    padding: 64px 0;
    font-size: 16px;
}

header > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 64px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav > .btn-group > .btn {
  padding-left: 23px;
  padding-right: 23px;
  font-weight: 500;
}

