:root {
  --button-color: #f5f5f5;
  --button-hover-color: #ebebeb;
  --switch-button-border-color: #f5f5f5;
  --switch-button-active-color: #00bcd41f;
  --video-item-checked-button-color: #00bcd41f;
}

body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  padding: 7px 15px;
  background: var(--button-color);
}

.nav__button-wrap {
  display: flex;
}

.switch-button {
  border: 1px solid var(--switch-button-border-color);
}

.switch-button[data-tab='unseen'] {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.switch-button[data-tab='seen'] {
  border-radius: 0 4px 4px 0;
}

.classroom-container.unseen .switch-button[data-tab='unseen'],
.classroom-container.seen .switch-button[data-tab='seen'] {
  background-color: var(--switch-button-active-color);
}

.classroom-container .save-video-list,
.no-result.empty + .video-list,
.save-video-list .no-result {
  display: none;
}

.classroom-container.unseen .save-video-list.unseen,
.classroom-container.seen .save-video-list.seen {
  display: block;
}

.save-video-list {
  width: 1040px;
  height: 493px;
}

.no-result.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-result__message {
  font-size: 25px;
}

.video-item__button-wrap {
  display: flex;
  justify-content: flex-end;
}

.video-item__button-wrap .button {
  width: 36px;
  height: 36px;
  background-color: var(--button-color);
}

.nav__button:hover,
.video-item__delete-button:hover {
  background-color: var(--button-hover-color);
}

.switch-button:hover {
  background-color: var(--switch-button-active-color);
}

.video-item__check-button:hover {
  background-color: var(--video-item-checked-button-color);
}

.video-item__check-button {
  margin-right: 8px;
}

.video-item__check-button.checked {
  background-color: var(--video-item-checked-button-color);
}
