body {
  padding: 64px 0;
  font-size: 16px;
}

#app {
  max-width: 1020px;
  margin: 0 auto;
}

.classroom-container__title {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.nav__button {
  margin-left: auto;
  width: 80px;
  height: 36px;
  background: #f5f5f5;
}

.nav__button:hover {
  background: #ebebeb;
}

.nav__filter-button {
  width: 117px;
  height: 36px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}

.nav__filter-button:hover {
  background: #ebebeb;
}

.nav__filter-button.focused {
  background: rgba(0, 188, 212, 0.12);
}

.nav__filter-button.focused:hover {
  background: rgba(0, 188, 212, 0.24);
}

@media (max-width: 1279px) {
  #app {
    margin: 0 100px;
  }
}

@media (max-width: 959px) {
  #app {
    margin: 0 50px;
  }
}

@media (max-width: 599px) {
  #app {
    margin: 0 16px;
  }

  .classroom-container__title {
    font-size: 24px;
  }
}