.classroom {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classroom__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.classroom__empty-image {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}
