:root {
  --video-item__check-button-background-color: #f9f9f9;
  --video-item__check-button-hover-color: #efefef;
  --video-item__remove-button-background-color: #f9f9f9;
  --video-item__remove-button-hover-color: #efefef;
  --button__highlighted-color: rgba(0, 188, 212, 0.12);
}

.classroom-video__list {
  width: 1040px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
  margin-top: 30px;
  overflow-y: scroll;
}

.video-item__check-button {
  position: absolute;
  right: 40px;
  width: 36px;
  height: 36px;
  background: var(--video-item__check-button-background-color);
  margin-top: 4px;
}

.video-item__check-button:hover {
  background: var(--video-item__check-button-hover-color);
}

.video-item__remove-button {
  position: absolute;
  right: 0;
  width: 36px;
  height: 36px;
  background: var(--video-item__remove-button-background-color);
  margin-top: 4px;
}

.video-item__remove-button:hover {
  background: var(--video-item__remove-button-hover-color);
}

.empty-result {
  position: relative;
  width: 100%;
  height: 600px;
}

.empty-result__description {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}

.highlight {
  background: var(--button__highlighted-color);
}

#will-watch-video-button:hover,
#watched-video-button:hover {
  background: var(--button__highlighted-color);
}
