body.dark-mode {
  background-color: var(--surface);
  color: var(--white);
}

body.dark-mode .button {
  background-color: var(--dimmer);
  color: var(--white);
  border: 0;
}
body.dark-mode .button:hover {
  background-color: var(--active);
}
body.dark-mode .button:focus {
  background-color: var(--active);
}
body.dark-mode .confirm-modal__form {
  background-color: var(--surface);
  border-radius: 5px;
  border: 1px solid var(--secondary-darken);
}
body.dark-mode .confirm-modal__content {
  background-color: var(--surface);
  border-radius: 5px;
}
body.dark-mode .confirm-modal__delete-button {
  background-color: var(--primary-darken);
}
body.dark-mode .confirm-modal__delete-button:hover {
  background-color: var(--primary);
}
body.dark-mode .confirm-modal__cancel-button {
  background-color: var(--secondary-darken);
}
body.dark-mode .confirm-modal__cancel-button:hover {
  background-color: var(--secondary);
}
body.dark-mode .search-input__keyword {
  background-color: var(--dimmer);
  border: 0;
  color: var(--white);
}

body.dark-mode .search-input__search-button {
  background-color: var(--primary-darkest);
}

body.dark-mode .search-input__search-button:hover {
  background-color: var(--primary-darken);
}
body.dark-mode .saved-button {
  background-color: var(--primary-darkest);
}
body.dark-mode .video-item__save-button:hover {
  background-color: var(--primary-darkest);
}

body.dark-mode .skeleton .video-item__thumbnail,
body.dark-mode .skeleton .video-item__title,
body.dark-mode .skeleton .video-item__channel-name,
body.dark-mode .skeleton .video-item__published-date,
body.dark-mode .skeleton .video-item__save-button {
  background-image: var(--skeleton-dark);
}
