:root {
  --link-hover-color: #00bcd4;
  --nav-button-clicked-color: #00bcd41f;
  --nav-button-bg-color: #f5f5f5;
  --search-button-bg-color: #00bcd4;
  --search-button-text-color: #ffffff;
  --option-button-bg-color: #f9f9f9;
  --option-button-hover-color: #efefef;
  --dimmer-color: rgba(0, 0, 0, 0.5);
  --modal-bg-color: #ffffff;
  --snack-bar-bg-color: #333;
  --snack-bar-text-color: #fff;
}
