body {
  font-size: 16px;
  padding: 64px 0;
}

#app {
  max-width: 1020px;
  margin: 0 auto 39px;
}

.classroom-container__title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1.25px;
  cursor: pointer;
}

.nav__button {
  height: 36px;
  background: var(--nav-btn-bg-color);
  padding: 0 18px;
}

.nav__button:hover {
  background: var(--btn-bg-stress-color);
}

.nav__button.clicked {
  background: var(--btn-bg-stress-color);
}

.video-container {
  display: flex;
  justify-content: center;
}

.video-container.hide {
  display: none;
}

.watch-video-list {
  width: 1040px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
  overflow-y: scroll;
}

.watch-video-list > img {
  margin: 0 auto;
}

.button-list {
  display: flex;
  justify-content: flex-end;
}

.button-list > button {
  width: 36px;
  height: 36px;
  margin-left: 8px;
}

.button-list > button:hover {
  background: var(--btn-bg-stress-color);
}

.video-item__watch_button[data-is-watched='true'] {
  background: var(--btn-bg-stress-color);
}

@media (max-width: 1280px) {
  #app {
    width: 780px;
  }

  .watch-video-list {
    width: 780px;
  }
}

@media (max-width: 960px) {
  #app {
    width: 520px;
  }

  .watch-video-list {
    width: 520px;
  }
}

@media (max-width: 600px) {
  #app {
    width: 420px;
  }

  .watch-video-list {
    width: 420px;
    justify-content: center;
  }
}
