@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  word-break: keep-all;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

h1 {
  font-size: 1.5rem;
}
