@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

.youtube-search-result {
  max-height: 500px;
  overflow: auto;
}

.no-result {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}
