@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

.save-btn {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.save-btn:hover {
  background-color: rgb(0, 188, 212);
}

.video-info {
  height: 110px;
}
