@import './shared/index.css';
@import './ui/index.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

.stretch {
  grid-area: 1 / 1 / 3 / end;
}

.disable-scroll {
  overflow: hidden;
}
