@import './shared/index.css';
@import './ui/index.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.opacity-hover {
  opacity: 0.3;
}

.opacity-hover:hover {
  opacity: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.menu-btn:hover {
  background-color: #b3eaf2;
}

input:checked + .menu-btn {
  background-color: #b3eaf2;
}

label.menu-btn {
  background-color: rgb(243, 244, 246);
  line-height: 38px;
}

.video-search-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
}

.management-buttons button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
}

.video-list {
  height: none;
}

.checked {
  opacity: 1;
}
