@import "./root.css";
@import "./grid.css";
@import "./button.css";
@import './app.css';
@import './modal.css';
@import './skeleton.css';
@import "./responsive.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,ul {
  list-style: none;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

.search-result .no-result {
  display: none;
}

.search-result--no-result .video-list {
  display: none;
}

.search-result--no-result h3 {
  display: none;
}

.search-result--no-result .no-result {
  display: block;
}