#watch-later-button,
#watched-button {
  min-width: 100px;
  min-height: 36px;
}

.selected__button,
.selected__button:hover,
.clicked {
  background-color: var(--selectedButton-color);
}

.stored-video-list,
.video-list {
  width: 100%;
  margin-top: 5vh;
  display: grid;
  gap: 32px 20px;
  justify-content: space-evenly;
}

.video-list {
  margin-top: 0px;
}

.search-video-container {
  display: flex;
  justify-content: center;
}

main {
  max-width: 80vw;
}

@media (min-width: 1280px) {
  .stored-video-list,
  .video-list {
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 255px 255px 255px 255px;
  }
}

@media (min-width: 960px) and (max-width: 1280px) {
  .stored-video-list,
  .video-list {
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 255px 255px 255px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .stored-video-list,
  .video-list {
    grid-template-columns: 240px 240px;
    grid-template-rows: 255px 255px;
  }
}

@media (max-width: 600px) {
  .stored-video-list,
  .video-list {
    grid-template-columns: 240px;
    grid-template-rows: 255px;
  }
}

.switch-show-type {
  position: absolute;
  right: 15%;
  bottom: 5%;
  padding: 5px;
}

.delete-button {
  position: absolute;
  right: 0%;
  bottom: 5%;
  padding: 5px;
}
