#watch-later-button,
#watched-button {
  min-width: 5vw;
}

.selected__button,
.selected__button:hover,
.clicked {
  background-color: var(--selectedButton-color);
}

.stored-video-list {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
}
