:root {
  --dimmer-color: rgba(0, 0, 0, 0.5);
  --modal-border-color: rgba(0, 0, 0, 0.12);
  --search-input-border-color: #b4b4b4;
  --search-input-placeholder-color: #8b8b8b;
  --search-button-color: #00bcd4;
  --search-button-font-color: #ffffff;
  --video-save-button-color: #f9f9f9;
  --video-save-button-hover-color: #efefef;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.search-result.search-result--no-result,
.search-result.search-result--no-result.empty + .search-result,
.modal-container.hide {
  display: none;
}

.search-result.search-result--no-result.empty {
  display: flex;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dimmer-color);
}

.search-modal {
  position: relative;
  width: 1080px;
  height: 727px;
  background: #ffffff;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
  box-sizing: border-box;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid var(--search-input-border-color);
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: var(--search-input-placeholder-color);
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: var(--search-button-color);
  color: var(--search-button-font-color);
}

.search-result.search-result--no-result {
  justify-content: center;
  align-items: center;
  height: calc(100% - 202px);
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
  display: block;
}

.no-result__description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}

.video-list {
  width: 1040px;
  height: 493px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
  overflow-y: scroll;
}

.video-list .skeleton {
  display: none;
}

.video-list.loading .skeleton {
  display: block;
}

.video-item {
  position: relative;
  width: 240px;
  height: 255px;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background: var(--video-save-button-color);
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: var(--video-save-button-hover-color);
}

.video-item__save-button.saved {
  display: none;
}
