.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.hide {
  display: none !important;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dimmer);
}

.search-modal {
  position: relative;
  width: 1080px;
  height: 727px;
  background: #ffffff;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  padding: 20px 30px 20px 30px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin: 0 5px 0 0;
  padding: 4px 8px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: var(--secondary);
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: var(--primary);
  color: var(--white);
}

.search-result.search-result--no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 493px;
}

.no-result {
  align-items: center;
  text-align: center;
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
}

.no-result__description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.search-target {
  width: 100%;
}

.video-list {
  width: 100%;
  max-width: 1040px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 15px;
  height: 493px;
  overflow: hidden;
}

.scroll {
  overflow-y: scroll;
}

.video-item {
  position: relative;
  width: 225px;
  height: 255px;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background-color: var(--secondary-lighten);
  margin-top: 4px;
}

.video-item__save-button:hover {
  background-color: var(--secondary);
}

.saved-button {
  color: white;
  cursor: default;
  background-color: var(--primary);
}

.saved-button:hover {
  color: white;
  background-color: var(--primary);
}

.x-shape {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.x-shape:after {
  content: '\00d7';
  font-size: 20pt;
  font-weight: bolder;
}

@media screen and (max-width: 1280px) {
  .search-modal {
    width: 840px;
  }

  .video-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-modal__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 960px) {
  .search-modal {
    width: 570px;
  }

  .video-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-modal__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .search-modal {
    width: 330px;
  }

  .video-list {
    grid-template-columns: 1fr;
  }

  .search-modal__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .search-input__keyword {
    width: 85%;
  }
}
