.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.search-result.search-result--no-result,
.search-result.search-result--no-result.empty + .search-result,
.modal-container.hide {
  display: none;
}

.search-result.search-result--no-result.empty {
  display: flex;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.search-modal {
  position: relative;
  width: 1080px;
  height: 727px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
  box-sizing: border-box;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: #8b8b8b;
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: #00bcd4;
  color: #ffffff;
}

.search-result.search-result--no-result {
  justify-content: center;
  align-items: center;
  height: calc(100% - 202px);
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
  display: block;
}

.no-result__description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}

.video-list {
  max-width: 1040px;
  place-items: start center;
  margin: auto;
  height: 493px;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
  overflow-y: scroll;
}

@media screen and (min-width: 1280px) {
  .video-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 960px) and (max-width: 1280px) {
  .video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .video-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video-item {
  position: relative;
  width: 240px;
  height: 255px;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background: #f9f9f9;
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: #efefef;
}

.video-item__save-button.saved {
  display: none;
}
