.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container.hide {
  display: none;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#result-label {
  margin-bottom: 20px;
}

.search-modal {
  position: relative;
  width: 1080px;
  height: 727px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: #8b8b8b;
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: #00bcd4;
  color: #ffffff;
}

#search-input-clear-button {
  position: absolute;
  left: 666px;
  top: 132px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

#search-input-clear-button:after {
  content: '\00d7';
  font-size: 12pt;
}

#search-input-clear-button:active {
  background-color: #f3f3f3;
  border-radius: 50%;
}

#no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 45px;
}

.no-result__description {
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.5px;
}

#video-list {
  display: grid;
  width: 1040px;
  height: 479px;
  gap: 100px 20px;
  grid-auto-flow: dense;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: auto;
}

@media (max-width: 1280px) {
  #video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  #video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  #video-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

#video-list::-webkit-scrollbar {
  width: 6px;
}
#video-list::-webkit-scrollbar-thumb {
  width: 4px;
  height: 17%;
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
}
#video-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.video-item-container {
  height: 300px;
  width: 240px;
}

.video-item {
  position: relative;
  width: 100%;
  height: 70%;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.5px;
}

.button-container {
  float: right;
}

.video-item__save-button {
  position: relative;
  width: 70px;
  height: 30px;
  background: #f9f9f9;
}

.video-item__save-button:hover {
  background: #efefef;
}

.video-item__save-button.hide {
  display: none;
}

.skeleton {
  height: 280px;
  width: 240px;
}

.skeleton .image,
.skeleton .line,
.skeleton .skeleton-button {
  background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
  animation: refresh 2s infinite ease-out;
}

.skeleton .image {
  height: 70%;
}

.skeleton .line {
  height: 12px;
  margin-top: 2px;
}

.skeleton .pblsh-date {
  width: 80%;
}

.skeleton .skeleton-button {
  width: 25%;
  height: 25px;
  margin-top: 5px;
  float: right;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}

#close-modal-button {
  float: right;
}
