.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--modal-dimmer-color);
}

.search-modal {
    position: relative;
    width: 94vw;
    height: 727px;
    background: var(--modal-background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 50px 30px 32px 30px;
}

.search-modal__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.search-input {
    margin: auto;
    margin-bottom: 40px;
    width: var(--xlarge-list-size);
}

#search-form{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.search-input__keyword {
    flex-grow: 1;
    height: 36px;
    margin-right: 20px;
    padding: 4px 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.search-input__keyword::placeholder {
    color: var(--search-input-text-color);
    font-size: 16px;
}

.search-input__search-button {
    width: 72px;
    height: 36px;
    background: var(--search-button-background-color);
    color: var( --search-button-text-color);
}

.search-result.search-result--no-result {
    height: 493px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-result__image {
    width: 190px;
    height: 140px;
    margin-bottom: 32px;
}

.no-result__description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
}

.video-list {
    display: grid;
    width: var(--xlarge-list-size);
    height: 493px;
    grid-row-gap: 32px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    overflow-y: scroll;
    margin: auto;
}

.video-item {
    position: relative;
    width: 240px;
    height: 255px;
}

.video-item__thumbnail {
    width: 100%;
    height: 135px;
}

.video-item__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
}

.video-item__channel-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-item__published-date {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.video-item__save-button {
    position: absolute;
    right: 0;
    width: 80px;
    height: 36px;
    background: var(--video-save-button-background-color);
    margin-top: 4px;
}

.video-item__save-button:hover {
    background: var(--video-save-button-hover-color);
}

.homepage-list{
    height: 500px;
}

.skeleton {
    width: 240px;
}
  
.skeleton .image,
.skeleton .line {
    background-image: linear-gradient(
    90deg,
    var(--skeleton-ui-dark-color) 0px,
    var(--skeleton-ui-light-color) 30px,
    var(--skeleton-ui-dark-color) 60px
    );
    animation: refresh 2s infinite ease-out;
}
  
.skeleton .image {
    height: 135px;
}
  
.skeleton .line {
    height: 24px;
    margin: 6px 0;
}
  
.skeleton .line:first-child {
    width: 50%;
}
  
.skeleton .line:last-child {
    width: 80%;
}
  
@keyframes refresh {
    0% {
      background-position: calc(-100px);
    }
    40%,
    100% {
      background-position: 320px;
    }
}

.hide {
    display: none;
  }

  
  @media screen and (max-width: 1280px) {
    .search-input{
        width: var(--large-list-size);
    }
    .video-list {
        width: var(--large-list-size);
        grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 960px) {
    .search-input{
        width: var(--medium-list-size);
    }
    .video-list {
        width: var(--medium-list-size);
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    .search-input{
        width: var(--small-list-size);
    }
    .video-list {
        width: var(--small-list-size);
        grid-template-columns: repeat(1, 1fr);
    }
  }
