.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.hide {
    display: none !important;
}

.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dimmer);
}

.search-modal {
    position: relative;
    width: 1080px;
    height: 727px;
    background-color: var(--white);
    border: 1px solid var(--search-modal-border);
    border-radius: 4px;
    padding: 50px 30px 32px 30px;
}

.search-modal__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.search-input {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-input__keyword {
    width: 400px;
    height: 36px;
    margin-right: 20px;
    padding: 4px 8px;
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.search-input__keyword::placeholder {
    color: var(--search-input-placeholder);
    font-size: 16px;
}

.search-input__search-button {
    width: 72px;
    height: 36px;
    background: var(--button-color);
    color: #FFFFFF;
}

.search-result.search-result--no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 493px;
}

.no-result {
    align-items: center;
    text-align: center;
}

.no-result__image {
    width: 190px;
    height: 140px;
    margin-bottom: 32px;
}

.no-result__description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
}

.video-list {
    width: 1040px;
    height: 493px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 20px;
    overflow: hidden;
}

.scroll {
    overflow-y: scroll;
}

.video-item {
    position: relative;
    width: 240px;
    height: 255px;
}

.video-item__thumbnail {
    width: 100%;
    height: 135px;
}

.video-item__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
}

.video-item__channel-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-item__published-date {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.video-item__save-button {
    position: absolute;
    right: 0;
    width: 80px;
    height: 36px;
    background-color: var(--gray-lighten);
    margin-top: 4px;
}

.video-item__save-button:hover {
    background-color: var(--gray);
}

.saved-button {
    color: var(--white);
    cursor: default;
    background-color: var(--button-color);
}

.saved-button:hover {
    color: var(--white);
    background-color: var(--button-color);
}

