.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.hide {
  display: none;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.search-modal {
  position: relative;
  width: 70em;
  height: 45.5em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 3em 2em 2em;
}

.search-modal__title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

#search-form {
  display: flex;
  justify-content: space-between;
}

.search-input__keyword {
  min-width: 20em;
  height: 2.25em;
  margin-right: 1.25em;
  padding: 0.25em 0.5em;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: #8b8b8b;
  font-size: 1rem;
}

.search-input__search-button {
  width: 5.2em;
  height: 2.58em;
  background: #00bcd4;
  color: #ffffff;
}

.search-result.search-result--no-result {
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 3;
}

.no-result__image {
  width: 11.875em;
  height: 8.75em;
  margin-bottom: 2em;
}

.no-result__description {
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03rem;
}

.search-result {
  margin: auto;
}
