.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container.hide {
  display: none;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.search-modal {
  position: relative;
  width: 1100px;
  height: 727px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: #8b8b8b;
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: #00bcd4;
  color: #ffffff;
}

.search-result {
  display: flex;
  justify-content: center;
}

.search-result.search-result--no-result {
  justify-content: center;
  align-items: center;
}

.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.no-result__image {
  width: 350px;
  margin-bottom: 32px;
}

.video-list {
  max-width: 1040px;
  height: 493px;
  overflow-y: scroll;
}

.skeleton {
  width: 236px;
}

.skeleton > .image-wrapper {
  height: 150px;
}

.skeleton img {
  display: none;
}

.skeleton .image-wrapper,
.skeleton .video-item__title,
.skeleton .video-item__channel-name,
.skeleton .video-item__published-date,
.skeleton .video-item__save-button {
  background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
  animation: refresh 2s infinite ease-out;
  text-indent: -9999px;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}

.video-item {
  position: relative;
  max-width: 240px;
  min-width: 240px;
  height: 255px;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background: #f9f9f9;
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: #efefef;
}

.video-item__save-button.hide {
  display: none;
}
