.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--modal-dimmer-color);
}

.modal-content {
    position: relative;
    width: 1080px;
    height: 727px;
    background: var(--modal-bg-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    padding: 50px 30px 32px 30px;
}

.modal-content__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
    
}