.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container.hide {
  display: none;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.search-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 85%;
  height: 95%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

#search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input__keyword {
  max-width: 400px;
  flex: 1;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: #8b8b8b;
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: #00bcd4;
  color: #ffffff;
}

.search-result {
  width: 100%;
}

.search-result.search-result--no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
}

.no-result__description {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}

.video-list {
  height: 493px;
  display: grid;
  grid-template-columns: repeat(4, minmax(290px, 393px));
  grid-gap: 16px;
  overflow-y: scroll;
  justify-content: center;
}

/* saved-video-list 반응형 */
@media screen and (max-width: 1280px) {
  #saved-video-list {
    grid-template-columns: repeat(3, minmax(290px, 393px));
  }
}

@media screen and (max-width: 960px) {
  #saved-video-list {
    grid-template-columns: repeat(2, minmax(290px, 393px));
  }
}

@media screen and (max-width: 600px) {
  #saved-video-list {
    grid-template-columns: repeat(1, minmax(290px, 393px));
  }
}

/* video-list 반응형 */
/* modal은 전체의 85%를 차지하기 떄문에, 100/85 를 곱해준다. */
@media screen and (max-width: calc(1280 * 100 / 85 * 1px)) {
  #video-list {
    grid-template-columns: repeat(3, minmax(290px, 393px));
  }
}

@media screen and (max-width: calc(960 * 100 / 85 * 1px)) {
  #video-list {
    grid-template-columns: repeat(2, minmax(290px, 393px));
  }
}

@media screen and (max-width: calc(600 * 100 / 85 * 1px)) {
  #video-list {
    grid-template-columns: repeat(1, minmax(290px, 393px));
  }
}

.video-item__thumbnail {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button,
.video-item__buttons {
  float: right;
  width: 80px;
  height: 36px;
  background: #f9f9f9;
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: #efefef;
}

.video-item__buttons {
  background-color: white;
}

.video-item__watched-button,
.video-item__delete-button {
  border: none;
  background: #f9f9f9;
  margin-top: 4px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}

.video-item__watched-button.watched {
  background-color: rgba(0, 188, 212, 0.12);
}
