.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-container.hide {
    display: none;
}

.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.search-modal {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.search-modal__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.search-input {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-input__keyword {
    width: 400px;
    height: 36px;
    margin-right: 20px;
    padding: 4px 8px;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
}

.search-input__keyword::placeholder {
    color: #8B8B8B;
    font-size: 16px;
}

.search-input__search-button {
    width: 72px;
    height: 36px;
}

.search-result {
  height: calc(80vh - (82px + 76px + 76px));
  overflow-y: scroll;
}

.search-result .no-result {
  text-align: center;
}

.search-result .skeleton {
  display: none;
}

.search-result.loading .skeleton {
  display: block;
}

.search-result.search-result--no-result {
    justify-content: center;
    align-items: center;
}

.no-result__image {
    width: 190px;
    height: 140px;
    margin-bottom: 32px;
}

.no-result__description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
}
