.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.search-modal {
  position: relative;
  width: max-content;
  height: 727px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 50px 50px 32px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

@media screen and (max-width: 599px) {
  .search-input__keyword {
    width: 300px;
  }
}

.search-input__keyword::placeholder {
  color: #8b8b8b;
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: #00bcd4;
  color: #ffffff;
}

.search-result.search-result--no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result-title {
  margin-bottom: 20px;
}

.no-result {
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
}

.no-result__description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}

.modal-container .video-list {
  position: relative;
  height: 448px;
  overflow-y: scroll;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 36px;
  background: #f9f9f9;
  margin-top: 4px;
}

.hide {
  display: none;
}
