@media screen and (max-width: 460px) {
  .search-input__clear {
    left: 80%;
  }
  .search-input__search-button {
    width: 10%;
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .save-video-list,
  .video-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .classroom-container__title {
    font-size: 25px;
  }
  .search-modal__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .save-video-list,
  .video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .save-video-list,
  .video-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .save-video-list,
  .video-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
