:root {
  --button-color: #00bcd4;
  --gray: #b4b4b4;
  --gray-lighten: #ededed;
  --nav: #F5F5F5;
  --nav-hover: #ebebeb;
  --dimmer: rgba(0, 0, 0, 0.5);
  --white: #FFFFFF;
  --gray-border: rgba(0, 0, 0, 0.12);
  --search-input-placeholder: #8B8B8B;
  --gradient-first: #e0e0e0;
  --gradient-second: #ededed;
  --nav-clicked: rgba(0, 188, 212, 0.12);
  --nav-clicked-hover: rgba(0, 188, 212, 0.15);
  --user-button: #F9F9F9;
  --user-button-hover: #F0F0F0;
}
