.saved-video-list__section {
  display: flex;
  flex-direction: column;
  height: 670px;
  margin: 39px 0 64px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.saved-video-list__section::-webkit-scrollbar {
  display: none;
}

.saved-video-list__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px 20px;
}

.saved-video-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
}

.saved-video-list__no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.saved-video-list__wrapper.hide,
.saved-video-list__no-result.hide {
  display: none;
}

.saved-video-list__no-result-image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
}

.saved-video-list__no-result-description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}
