
.search-input {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.search-input__keyword {
    width: 400px;
    height: 36px;
    margin-right: 20px;
    padding: 4px 8px;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
}

.search-input__keyword::placeholder {
    color: var(--input-placeholder-color);
    font-size: 16px;
}

.search-input__search-button {
    width: 72px;
    height: 36px;
    background: var(--button-bg-color);
    color: var(--button-font-color);
}

.search-result.search-result--no-result {
    justify-content: center;
    align-items: center;
}

.skeleton {
    width: 236px;
}

.skeleton .image,
.skeleton .line {
    background-image: linear-gradient(
    90deg,
    #e0e0e0 0px,
    #ededed 30px,
    #e0e0e0 60px
    );
    animation: refresh 2s infinite ease-out;
    margin-bottom: 10px;
}
  
.skeleton .image {
    height: 150px;
}
  
.skeleton .line {
    height: 16px;
}
  
.skeleton .line:last-child {
   width: 80%;
}
  
@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
    
   40%,
   100% {
    background-position: 320px;
  }
}

.no-result {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 80px 0;
}

.no-result__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 180px;
    margin-bottom: 32px;
}

.search-result__list {
    width: 100%;
    height: 493px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow-y: scroll;
    justify-items: center;
}

#search-result-scroll-observer {
    position: relative;
    width: 240px;
    height: 255px;
}

.list-item{
    position: relative;
    width: 240px;
    height: 255px;
}

.list-item__thumbnail {
    width: 100%;
    height: 135px;
}

.list-item__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
}

.list-item__channel-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item__published-date {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.list-item__save-button {
    position: absolute;
    right: 0;
    width: 80px;
    height: 36px;
    background: var(--save-button-bg-color);
    margin-top: 4px;
}

.list-item__save-button:hover {
    background: var( --save-button-hover-bg-color);
}

.no-result__image{
    width:700px;
    height:450px;
}


@media screen and (max-width:1279px){
    .search-result__list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:959px){
    .search-result__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:599px){
    .search-result__list{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:700px){
    .no-result__image{
        max-width:100%;
        max-height:100%;
    }
}
