.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal-container.hide {
  display: none;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dimmer-bg-color);
  opacity: 0.5;
  cursor: pointer;
}

.search-modal {
  position: relative;
  width: 1140px;
  height: 727px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: var(--search-input-text-color);
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: var(--search-btn-bg-color);
  color: var(--white-color);
}

.search-result {
  display: flex;
  justify-content: center;
}

.search-result.search-result--no-result {
  justify-content: center;
  align-items: center;
}

.no-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
}

.no-result.hide {
  display: none;
}

.no-result__image {
  width: 430px;
  margin-bottom: 32px;
}

.no-result__error-image {
  width: 350px;
  margin-bottom: 32px;
}

.modal-video-list {
  width: 1040px;
  height: 493px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
  overflow-y: scroll;
}

.skeleton {
  width: 236px;
}

.skeleton > #image-wrapper {
  height: 150px;
}

.skeleton img {
  display: none;
}

.skeleton #image-wrapper,
.skeleton .video-item__title,
.skeleton .video-item__channel-name,
.skeleton .video-item__published-date,
.skeleton .video-item__save-button {
  background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
  animation: refresh 2s infinite ease-out;
  text-indent: -9999px;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}

.video-item {
  position: relative;
  width: 240px;
  height: 255px;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background: var(--save-btn-bg-color);
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: var(--save-btn-bg-hover-color);
}

.video-item__save-button.saved {
  background: var(--save-btn-bg-hide-color);
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .search-modal {
    width: 840px;
  }
}

@media (max-width: 960px) {
  .search-modal {
    width: 580px;
    height: 680px;
  }

  .modal-video-list {
    height: 460px;
  }

  .search-modal__title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .search-modal {
    width: 440px;
  }

  .modal-video-list {
    justify-content: center;
  }

  .search-modal__title {
    font-size: 20px;
  }
}
