.skeleton {
  width: 240px;
}

.skeleton__image,
.skeleton__line {
  background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
  animation: refresh 2s infinite ease-out;
  margin-bottom: 11px;
}

.skeleton__image {
  height: 135px;
  margin-bottom: 11px;
}

.skeleton__line {
  height: 16px;
}

.skeleton__line:first-child {
  width: 50%;
}

.skeleton__line:nth-child(3) {
  width: 70%;
}

.skeleton__line:last-child {
  width: 45%;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}
