.skeleton {
  width: 220px;
  margin: 8px;
}

.skeleton .video-item__thumbnail,
.skeleton .video-item__title,
.skeleton .video-item__channel-name,
.skeleton .video-item__published-date,
.skeleton .video-item__save-button {
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f7f8f8 20%, #f6f7f8 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.skeleton .video-item__title,
.skeleton .video-item__channel-name,
.skeleton .video-item__published-date {
  height: 16px;
  margin-bottom: 10px;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
