.skeleton {
  width: 220px;
  margin: 8px;
}

.skeleton .video-item__thumbnail,
.skeleton .video-item__title,
.skeleton .video-item__channel-name,
.skeleton .video-item__published-date, 
.skeleton .video-item__save-button {
  background-image: linear-gradient(
    90deg,
    var(--gradient-first) 0px,
    var(--gradient-second) 30px,
    var(--gradient-first) 60px
  );
  animation: refresh 2s infinite ease-out;
}

.skeleton .video-item__title,
.skeleton .video-item__channel-name,
.skeleton .video-item__published-date {
  height: 16px;
  margin-bottom: 10px;
}

@keyframes refresh {
  0% {
    background-position: calc(-100px);
  }
  40%,
  100% {
    background-position: 320px;
  }
}
