.suggestion {
  position: absolute;
  top: 37px;
  left: 0px;
  width: 400px;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#suggestion-list > li {
  margin: 5px;
  cursor: pointer;
}

#suggestion-list > li:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
