#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  border-radius: 30px;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  background: var(--toast-bg-color);
  color: var(--toast-text-color);
  z-index: 10000;
  text-align: center;
  white-space: pre;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transform: translate(-50%, 0);
}
