:root {
  --nav-btn-bg-color: #f5f5f5;
  --nav-btn-bg-hover-color: #ebebeb;

  --dimmer-bg-color: #000000;

  --modal-bg-color: #ffffff;

  --search-input-text-color: #8b8b8b;
  --search-btn-bg-color: #00bcd4;
  --search-btn-text-color: #ffffff;

  --save-btn-bg-color: #3bc9db;
  --save-btn-bg-hover-color: #c5f6fa;
  --save-btn-bg-hide-color: #e3fafc;
  --save-btn-text-color: #000000;
}
