:root{
    --nav-btn-color:#f5f5f5;
    --nav-btn--hover-color:#ebebeb;
    --primary-btn-color:#00bcd4;
    --modal-background-color:white;
    --skeleton-background-color:#e0e0e0;
    --skeleton-point-color:#ededed;
    --modal-video-btn-color:#f9f9f9;
    --modal-video-btn--hover-color:#efefef;
  }
  