.video-container {
  margin: 50px 0;
  text-align: center;
}

.save-video-list {
  display: grid;
  place-items: center;
  text-align: initial;
}

.save-video-item {
  position: relative;
  width: 240px;
  height: 250px;
  margin: 10px 0;
}

.save-video-item__button {
  float: right;
  width: 40px;
  height: 36px;
  background: var(--option-button-bg-color);
  margin-right: 2px;
}

.save-video-item__button:hover {
  background: var(--option-button-hover-color);
}
