@import url('./color.css');
.is-active {
  background-color: var(--is-active-color);
}

.watch-later-videos-container {
  margin-top: 40px;
}

.watched-videos-container {
  margin-top: 40px;
  width: 100%;
}

.watch-later-video-item {
  margin-bottom: 20px;
}

.watched-video-item {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: end;
}

.button-container button {
  width: 36px;
  height: 36px;
}

.button-container button:hover {
  background-color: var(--nav-button-hover-color);
}

.video-item__watched-button {
  margin-right: 8px;
}

.watched-video-item-button-group > .video-item__watched-button {
  background-color: var(--is-active-color);
}
