#nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;

  #search-button {
    width: 100%;
  }
}

@mixin nav--desktop {
  #nav {
    flex-direction: row;
  }
}

@mixin nav--laptop {
  #nav {
    flex-direction: row;
  }
}

@mixin nav--tablet {
  #nav {
    flex-direction: row;
  }
}

@mixin nav--small-tablet {
  #nav {
    flex-direction: row;
  }
}
