.video-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 14px;
  justify-content: center;
}

.clip {
  cursor: pointer;
  text-decoration: none;
}

.clip .clip__preview {
  width: 100%;
  height: 120px;
  position: relative;
}

.clip .clip__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clip .overlay-preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.clip .clip__content {
  position: relative;
}

.clip .clip__content h3 {
  display: -webkit-box;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #0a0a0a;
}

.clip .clip__content .channel-name {
  font-size: 12px;
  color: #606060;
  display: block;
  width: 100%;
}

.clip .clip__content .meta p {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  color: #606060;
}

.clip__check-button.checked {
  opacity: 1;
}

.clip__check-button.liked {
  opacity: 1;
}

.clip__thumbnail {
  position: absolute;
  top: 0;
  z-index: -1;
}

.clip__thumbnail--in-modal {
  position: absolute;
  top: 0;
  z-index: 3;
}

.clip__iframe {
  position: relative;
  z-index: 4;
}

@mixin youtube-card--desktop {
  .video-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@mixin youtube-card--laptop {
  .video-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin youtube-card--tablet {
  .video-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin youtube-card--small-tablet {
  .video-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
