@import './font.scss';
@import './app.scss';
@import './modal.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

html, body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: 'NanumBarunGothic', sans-serif;
}

input, button, textarea, select {
    font: inherit;
}
